body {
  font-family: Arial;
  background: #111;
  color: white;
  padding: 20px;
}

.song {
  background: #222;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}
.chord-section {
  margin: 8px 0;
  padding: 8px;
  background: #1a1a1a;
  border-radius: 8px;
}
button.btn-chords{
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  margin-top: 6px;
}
